
<%# difference of today and bday %>
<html>
<body style="background-color:66CCFF;">
  <style>
    * {
      font-family: Helvetica;
    }
</style>
<div align="center">

<% if @bday == @today %>
<p>  Happy birthday  <%= @name%>! </p>
<% else %>

<p>  Your birthday will be in <%= @diff1%> days, <%= @name%> :) </p>
<% end %>
</div>

<%= @name %>
<br> day: <%= @day %>
<br> month: <%= @month %>
<br> todday: <%= @today %>
<br>bday: <%= @bday %>
<br>diff: <%= @diff1 %>

</body>
</html>
