
<%# difference of today and bday %>
<html>
<body style="background-color:66CCFF;">
  <style>
    * {
      font-family: Helvetica;
    }
</style>
<div align="center">

<% if @bday == @today %>
<p>  Happy birthday  <%= @name%>! </p>
<% end %>
<p>  Your birthday is on <%= @day%> of <%= @month%></p>

</div>

<%= @name %>
<br>
<%= @today %>
<br>
<%= @bday %>

</body>
</html>

<%# When the user submits the form, and depending on the current date, the app will either:
wish the user happy birthday tell them how long they'll have to wait until their next birthday %>

<%# adding comment for commit %>
